<a href="https://colab.research.google.com/github/belanatal/PosPUCRio/blob/main/MVP-SprintI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PUC Rio: Pós Graduação em Ciência de Dados e Analytics**

**MVP Sprint I: Análise de Dados e Boas Práticas (40530010055_20230_01)**

Aluna: Isabela Fernanda Natal Batista Abreu Gomes

Maio/2023

# Programa para obtenção do histórico de Energia Natural Afluentel (ENA), da Energia Armazenada (EArm), da Demanda/Carga e do Custo Marginal da Operação (CMO) por subsistema, a partir da área de Dados Abertos do Operador Nacional do Sistema Elétrico (ONS): [Arquitetura Aberta](https://dados.ons.org.br/)


> No Brasil, a projeção de preços da energia elétrica baseia-se na previsão, centralizada, de despacho das usinas pelo Operador Nacional do Sistema Elétrico (ONS). 

> Em linhas gerais, o preço da energia, também chamado de Preço de Liquidação das Diferenças (PLD) tem como base o Custo Marginal da Operação (CMO), dado pelo planejamento da operação hidrotérmica do Sistema Interligado Nacional. Os modelos utilizados para projeção oficial do despacho das usinas pelo ONS (Operador Nacional do Sistema) denominam-se NEWAVE, DECOMP e DESSEM, todos desenvolvidos e fornecidos pelo Centro de Pesquisas da Eletrobras (CEPEL), conforme ilustrado na Figura 1.

![Resumo_Setor.jpg]()

Figura 1 - Resumo do problema de planejamento eletroenergético brasileiro.

> Para a projeção do preço da energia elétrica, uma série de grandezas são utilizadas como entrada. Uma vez que a matriz eletroenergética brasileira é predominantemente hidráulica (e os modelos consideram este aspecto no equacionamento do problema de otimização), a diferença entre as vazões previstas e verificadas dos postos associados às usinas hidroelétricas responde por cerca de 50% das variações no PLD/CMO, conforme ilustrado na Figura 2, disponibilizada pela Câmara de Comercialização de Energia (CCEE). A Energia Armazenada e a Carga também desempenham papel relevante na influência do PLD/CMO. Juntas, as três grandezas respondem por mais de 70% das variações no custo marginal da operação sendo, portanto, as variáveis de interesse na primeira abordagem deste MVP.

![GraficoPizza_CCEE.jpg]()

Figura 2 - Variação do PLD/CMO por variável de entrada nos modelos de planejamento eletroenergético do SIN. Fonte: CCEE


> Neste contexto, considerando a atuação na área de Inteligência de Mercado de Gás e Energia em um dos principais agentes geradores do Brasil, faz sentido estruturarmos a coleta e tratamento dos dados referentes às grandezas mencionadas, visando à melhor tomada de decisão sob a ótica da operação do parque e da comercialização e logística do gás e da energia elétrica.

**Seção I: Obtenção dos Dados**


1.   [Energia Natural Afluente (ENA) por Subsistema](https://dados.ons.org.br/dataset/ena-diario-por-subsistema)
2.   [Energia Armazenada (EArm) por Subsistema](https://dados.ons.org.br/dataset/ear-diario-por-subsistema)
3.   [Demanda por Subsistema](https://dados.ons.org.br/dataset/carga-energia)
4.   [Custo Marginal da Operação (CMO) Semanal por Subsistema](https://dados.ons.org.br/dataset/cmo-semanal)

Inicialmente, iremos importar e avaliar (utilizando a biblioteca Pandas, para fazer uma rápida análise exploratória) os dataset de "entrada", variáveis explicativas para a obtenção do CMO: ENA, EArm e Demanda, nesta ordem.

In [1]:
# Seção I.1: Programa para obtenção das Energias Naturais Afluentes - Dados Abertos Operador Nacional do Sistema Elétrico
# Dados por subsistema do Sistema Interligado Nacional, atualizados diariamente.
# Importando as bibliotecas pandas, matplotlib (pyplot) e datetime
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [2]:
# ENA - Arquivos com os dados anuais, com histórico desde 2001
ano_zero=2001
ano_inicio=ano_zero+1
data_fim=datetime.datetime.now() - datetime.timedelta(days=5) #ano vigente, considerando um possível atraso de até 5 dias na publicação, o que é comum na virada de ano
ano_fim=data_fim.strftime("%Y")
ano_fim=int(ano_fim)
print(data_fim)
print(ano_fim)

2023-04-27 14:19:14.911411
2023

In [3]:
#Importando os dados da url para o dataframe, começando pelo ano inicial do histórico, até o ano vigente
#Conforme dicionário de dados disponibilizado na página de Arquitetura Aberta do ONS, os arquivos .csv estão no formato UTF-8, com delimitador do tipo ponto-e-vírgula
ena=pd.read_csv("https://ons-dl-prod-opendata.s3.amazonaws.com/dataset/ena_subsistema_di/ENA_DIARIO_SUBSISTEMA_"+str(ano_zero)+".csv",delimiter=";",encoding = 'utf8')
ena=pd.DataFrame(ena)
for ano in range (ano_inicio,ano_fim+1):
    ano_str=str(ano)  
    ena_ano=pd.read_csv("https://ons-dl-prod-opendata.s3.amazonaws.com/dataset/ena_subsistema_di/ENA_DIARIO_SUBSISTEMA_"+ano_str+".csv",delimiter=";",encoding = 'utf8')
    ena_ano=pd.DataFrame(ena_ano)
    ena=pd.concat([ena,ena_ano])
print(ena)

    id_subsistema nom_subsistema    ena_data  ena_bruta_regiao_mwmed  \
0               N          NORTE  2001-01-01            10154.000000
1              NE       NORDESTE  2001-01-01            13472.000000
2               S            SUL  2001-01-01             7703.000000
3              SE        SUDESTE  2001-01-01            39186.000000
4               N          NORTE  2001-01-02             9590.000000
..            ...            ...         ...                     ...
475            SE        SUDESTE  2023-04-29            52427.855469
476             N          NORTE  2023-04-30            24056.681641
477            NE       NORDESTE  2023-04-30             4425.798828
478             S            SUL  2023-04-30             5107.930176
479            SE        SUDESTE  2023-04-30            51253.191406

     ena_bruta_regiao_percentualmlt  ena_armazenavel_regiao_mwmed  \
0                        122.339996                   9033.000000
1                        101.480003                  13385.000000
2                        160.910004                   7703.000000
3                         86.980003                  37611.000000
4                        115.550003                   8091.000000
..                              ...                           ...
475                       95.758202                  35085.000000
476                       89.205101                  16727.423828
477                       38.512600                   4407.208984
478                       78.522697                   4844.619141
479                       93.612701                  32486.623047

     ena_armazenavel_regiao_percentualmlt
0                              108.839996
1                              100.830002
2                              160.910004
3                               83.489998
4                               97.489998
..                                    ...
475                             64.081902
476                             62.027302
477                             38.350800
478                             74.474899
479                             59.335999

[32620 rows x 7 columns]

In [4]:
# Conferindo as primeiras 10 linhas, para check da importação de dados
ena.head(10)

,id_subsistema,nom_subsistema,ena_data,ena_bruta_regiao_mwmed,ena_bruta_regiao_percentualmlt,ena_armazenavel_regiao_mwmed,ena_armazenavel_regiao_percentualmlt
0,N,NORTE,2001-01-01,10154.0,122.339996,9033.0,108.839996
1,NE,NORDESTE,2001-01-01,13472.0,101.480003,13385.0,100.830002
2,S,SUL,2001-01-01,7703.0,160.910004,7703.0,160.910004
3,SE,SUDESTE,2001-01-01,39186.0,86.980003,37611.0,83.489998
4,N,NORTE,2001-01-02,9590.0,115.550003,8091.0,97.489998
5,NE,NORDESTE,2001-01-02,13551.0,102.080002,13465.0,101.430000
6,S,SUL,2001-01-02,6730.0,140.580002,6730.0,140.580002
7,SE,SUDESTE,2001-01-02,41230.0,91.519997,40063.0,88.930000
8,N,NORTE,2001-01-03,9066.0,109.239998,7213.0,86.910004
9,NE,NORDESTE,2001-01-03,13551.0,102.080002,13461.0,101.400002

In [5]:
# Conferindo as últimas 10 linhas
ena.tail(10)

,id_subsistema,nom_subsistema,ena_data,ena_bruta_regiao_mwmed,ena_bruta_regiao_percentualmlt,ena_armazenavel_regiao_mwmed,ena_armazenavel_regiao_percentualmlt
470,S,SUL,2023-04-28,6023.563965,92.598503,5882.439941,90.429001
471,SE,SUDESTE,2023-04-28,53677.875000,98.041298,39171.996094,71.546700
472,N,NORTE,2023-04-29,24459.800781,90.699898,17497.197266,64.881699
473,NE,NORDESTE,2023-04-29,4433.688965,38.581200,4422.963867,38.487900
474,S,SUL,2023-04-29,5535.545898,85.096298,5180.103027,79.632202
475,SE,SUDESTE,2023-04-29,52427.855469,95.758202,35085.000000,64.081902
476,N,NORTE,2023-04-30,24056.681641,89.205101,16727.423828,62.027302
477,NE,NORDESTE,2023-04-30,4425.798828,38.512600,4407.208984,38.350800
478,S,SUL,2023-04-30,5107.930176,78.522697,4844.619141,74.474899
479,SE,SUDESTE,2023-04-30,51253.191406,93.612701,32486.623047,59.335999

In [6]:
# Conferindo a quantidade de dias (considerando 4 subsistemas)
len(ena)/4

8155.0

In [7]:
# Verificando os tipos de coluna do dataframe ena
ena.dtypes

id_subsistema                            object
nom_subsistema                           object
ena_data                                 object
ena_bruta_regiao_mwmed                  float64
ena_bruta_regiao_percentualmlt          float64
ena_armazenavel_regiao_mwmed            float64
ena_armazenavel_regiao_percentualmlt    float64
dtype: object

In [8]:
# Iniciando o tratamento dos dados
#Convertendo os nomes dos subsistemas para 1ª letra em maiúscula: SE->Sudeste; S->Sul; NE->Nordeste; N->Norte
ena['nom_subsistema']=ena['nom_subsistema'].replace({'SUDESTE':'Sudeste',
                                                'SUL':'Sul',
                                                'NORDESTE':'Nordeste',
                                                'NORTE':'Norte'})

In [9]:
# Renomeando a coluna de data, de modo a ser o mesmo nome em todos os DataFrames, para facilitar a chave de mesclagem
ena=ena.rename(columns = {'ena_data':'Data'})
print(ena)

    id_subsistema nom_subsistema        Data  ena_bruta_regiao_mwmed  \
0               N          Norte  2001-01-01            10154.000000
1              NE       Nordeste  2001-01-01            13472.000000
2               S            Sul  2001-01-01             7703.000000
3              SE        Sudeste  2001-01-01            39186.000000
4               N          Norte  2001-01-02             9590.000000
..            ...            ...         ...                     ...
475            SE        Sudeste  2023-04-29            52427.855469
476             N          Norte  2023-04-30            24056.681641
477            NE       Nordeste  2023-04-30             4425.798828
478             S            Sul  2023-04-30             5107.930176
479            SE        Sudeste  2023-04-30            51253.191406

     ena_bruta_regiao_percentualmlt  ena_armazenavel_regiao_mwmed  \
0                        122.339996                   9033.000000
1                        101.480003                  13385.000000
2                        160.910004                   7703.000000
3                         86.980003                  37611.000000
4                        115.550003                   8091.000000
..                              ...                           ...
475                       95.758202                  35085.000000
476                       89.205101                  16727.423828
477                       38.512600                   4407.208984
478                       78.522697                   4844.619141
479                       93.612701                  32486.623047

     ena_armazenavel_regiao_percentualmlt
0                              108.839996
1                              100.830002
2                              160.910004
3                               83.489998
4                               97.489998
..                                    ...
475                             64.081902
476                             62.027302
477                             38.350800
478                             74.474899
479                             59.335999

[32620 rows x 7 columns]

In [10]:
# Alterando o tipo da coluna "Data"
ena['Data'] = pd.to_datetime(ena['Data'])

In [11]:
# Verificando os tipos de coluna do dataframe ena
ena.dtypes

id_subsistema                                   object
nom_subsistema                                  object
Data                                    datetime64[ns]
ena_bruta_regiao_mwmed                         float64
ena_bruta_regiao_percentualmlt                 float64
ena_armazenavel_regiao_mwmed                   float64
ena_armazenavel_regiao_percentualmlt           float64
dtype: object

In [12]:
# Reordenando o dataframe ena, pela coluna Data (em ordem decrescente)
ena=ena.sort_values(by='Data', ascending=False)
ena.head(20)

,id_subsistema,nom_subsistema,Data,ena_bruta_regiao_mwmed,ena_bruta_regiao_percentualmlt,ena_armazenavel_regiao_mwmed,ena_armazenavel_regiao_percentualmlt
479,SE,Sudeste,2023-04-30,51253.191406,93.612701,32486.623047,59.335999
478,S,Sul,2023-04-30,5107.930176,78.522697,4844.619141,74.474899
477,NE,Nordeste,2023-04-30,4425.798828,38.512600,4407.208984,38.350800
476,N,Norte,2023-04-30,24056.681641,89.205101,16727.423828,62.027302
475,SE,Sudeste,2023-04-29,52427.855469,95.758202,35085.000000,64.081902
474,S,Sul,2023-04-29,5535.545898,85.096298,5180.103027,79.632202
473,NE,Nordeste,2023-04-29,4433.688965,38.581200,4422.963867,38.487900
472,N,Norte,2023-04-29,24459.800781,90.699898,17497.197266,64.881699
471,SE,Sudeste,2023-04-28,53677.875000,98.041298,39171.996094,71.546700
470,S,Sul,2023-04-28,6023.563965,92.598503,5882.439941,90.429001
469,NE,Nordeste,2023-04-28,4414.319824,38.412701,4407.169922,38.350498
468,N,Norte,2023-04-28,24837.968750,92.102203,18478.201172,68.519402
466,S,Sul,2023-04-27,6547.628906,100.654800,6178.768066,94.984398
464,N,Norte,2023-04-27,25263.062500,93.678497,17970.761719,66.637802
465,NE,Nordeste,2023-04-27,4322.813965,37.616402,4307.083984,37.479500
467,SE,Sudeste,2023-04-27,54969.335938,100.400200,41435.062500,75.680099
463,SE,Sudeste,2023-04-26,56082.085938,102.432602,41902.105469,76.533203
462,S,Sul,2023-04-26,6861.458008,105.479202,4323.437988,66.462997
461,NE,Nordeste,2023-04-26,4247.446777,36.960602,4229.571777,36.805000
460,N,Norte,2023-04-26,25539.175781,94.702400,16753.121094,62.122601

In [13]:
# Seção I.2: Programa para obtenção das Energias Armazenadas - Dados Abertos Operador Nacional do Sistema Elétrico
# Dados por subsistema do Sistema Interligado Nacional, atualizados diariamente.

# EArm - Arquivos com os dados anuais, com histórico desde 2001. 
# Portanto, serão utilizados os mesmos parâmetros temporais base (que das demais grandezas)
# Importando os dados da url para o dataframe, começando pelo ano inicial do histórico, até o ano vigente
# Conforme dicionário de dados disponibilizado na página de Arquitetura Aberta do ONS, os arquivos .csv estão no formato UTF-8, com delimitador do tipo ponto-e-vírgula
earm=pd.read_csv("https://ons-dl-prod-opendata.s3.amazonaws.com/dataset/ear_subsistema_di/EAR_DIARIO_SUBSISTEMA_"+str(ano_zero)+".csv",delimiter=";",encoding = 'utf8')
earm=pd.DataFrame(earm)
for ano in range (ano_inicio,ano_fim+1):
    ano_str=str(ano)  
    earm_ano=pd.read_csv("https://ons-dl-prod-opendata.s3.amazonaws.com/dataset/ear_subsistema_di/EAR_DIARIO_SUBSISTEMA_"+ano_str+".csv",delimiter=";",encoding = 'utf8')
    earm_ano=pd.DataFrame(earm_ano)
    earm=pd.concat([earm,earm_ano])
print (earm)

    id_subsistema nom_subsistema    ear_data  ear_max_subsistema  \
0              NE       NORDESTE  2001-01-01        49967.000000
1               N          NORTE  2001-01-01        12311.000000
2              SE        SUDESTE  2001-01-01       159081.000000
3               S            SUL  2001-01-01        14176.000000
4              NE       NORDESTE  2001-01-02        49967.000000
..            ...            ...         ...                 ...
475             S            SUL  2023-04-29        20459.242188
476            NE       NORDESTE  2023-04-30        51691.226562
477             N          NORTE  2023-04-30        15302.396484
478            SE        SUDESTE  2023-04-30       204615.328125
479             S            SUL  2023-04-30        20459.242188

     ear_verif_subsistema_mwmes  ear_verif_subsistema_percentual
0                  18699.000000                        37.419998
1                   9137.000000                        74.220001
2                  46315.000000                        29.110001
3                  12857.000000                        90.690002
4                  18851.000000                        37.730000
..                          ...                              ...
475                17177.837891                        83.961304
476                46988.765625                        90.902802
477                15059.340820                        98.411697
478               176361.671875                        86.191803
479                17191.603516                        84.028503

[32620 rows x 6 columns]

In [14]:
# Conferindo as primeiras 10 linhas, para check da importação de dados
earm.head(10)

,id_subsistema,nom_subsistema,ear_data,ear_max_subsistema,ear_verif_subsistema_mwmes,ear_verif_subsistema_percentual
0,NE,NORDESTE,2001-01-01,49967.0,18699.0,37.419998
1,N,NORTE,2001-01-01,12311.0,9137.0,74.220001
2,SE,SUDESTE,2001-01-01,159081.0,46315.0,29.110001
3,S,SUL,2001-01-01,14176.0,12857.0,90.690002
4,NE,NORDESTE,2001-01-02,49967.0,18851.0,37.730000
5,N,NORTE,2001-01-02,12311.0,9327.0,75.760002
6,SE,SUDESTE,2001-01-02,159081.0,46850.0,29.450001
7,S,SUL,2001-01-02,14176.0,12920.0,91.139999
8,NE,NORDESTE,2001-01-03,49967.0,19047.0,38.119999
9,N,NORTE,2001-01-03,12311.0,9453.0,76.779999

In [15]:
# Conferindo as últimas 10 linhas
earm.tail(10)

,id_subsistema,nom_subsistema,ear_data,ear_max_subsistema,ear_verif_subsistema_mwmes,ear_verif_subsistema_percentual
470,SE,SUDESTE,2023-04-28,204615.328125,176349.125000,86.185699
471,S,SUL,2023-04-28,20459.242188,17183.640625,83.989601
472,NE,NORDESTE,2023-04-29,51691.226562,47016.683594,90.956802
473,N,NORTE,2023-04-29,15302.396484,15004.389648,98.052597
474,SE,SUDESTE,2023-04-29,204615.328125,176283.828125,86.153801
475,S,SUL,2023-04-29,20459.242188,17177.837891,83.961304
476,NE,NORDESTE,2023-04-30,51691.226562,46988.765625,90.902802
477,N,NORTE,2023-04-30,15302.396484,15059.340820,98.411697
478,SE,SUDESTE,2023-04-30,204615.328125,176361.671875,86.191803
479,S,SUL,2023-04-30,20459.242188,17191.603516,84.028503

In [16]:
# Conferindo a quantidade de dias (considerando 4 subsistemas)
len(earm)/4

8155.0

In [17]:
# Verificando os tipos de coluna do dataframe earm
earm.dtypes

id_subsistema                       object
nom_subsistema                      object
ear_data                            object
ear_max_subsistema                 float64
ear_verif_subsistema_mwmes         float64
ear_verif_subsistema_percentual    float64
dtype: object

In [18]:
# Iniciando o tratamento dos dados
#Convertendo os nomes dos subsistemas para 1ª letra em maiúscula: SE->Sudeste; S->Sul; NE->Nordeste; N->Norte
earm['nom_subsistema']=earm['nom_subsistema'].replace({'SUDESTE':'Sudeste',
                                                'SUL':'Sul',
                                                'NORDESTE':'Nordeste',
                                                'NORTE':'Norte'})

In [19]:
# Renomeando a coluna de data, de modo a ser o mesmo nome em todos os DataFrames, para facilitar a chave de mesclagem
earm=earm.rename(columns = {'ear_data':'Data'})
print(earm)

    id_subsistema nom_subsistema        Data  ear_max_subsistema  \
0              NE       Nordeste  2001-01-01        49967.000000
1               N          Norte  2001-01-01        12311.000000
2              SE        Sudeste  2001-01-01       159081.000000
3               S            Sul  2001-01-01        14176.000000
4              NE       Nordeste  2001-01-02        49967.000000
..            ...            ...         ...                 ...
475             S            Sul  2023-04-29        20459.242188
476            NE       Nordeste  2023-04-30        51691.226562
477             N          Norte  2023-04-30        15302.396484
478            SE        Sudeste  2023-04-30       204615.328125
479             S            Sul  2023-04-30        20459.242188

     ear_verif_subsistema_mwmes  ear_verif_subsistema_percentual
0                  18699.000000                        37.419998
1                   9137.000000                        74.220001
2                  46315.000000                        29.110001
3                  12857.000000                        90.690002
4                  18851.000000                        37.730000
..                          ...                              ...
475                17177.837891                        83.961304
476                46988.765625                        90.902802
477                15059.340820                        98.411697
478               176361.671875                        86.191803
479                17191.603516                        84.028503

[32620 rows x 6 columns]

In [20]:
# Alterando o tipo da coluna "Data"
earm['Data'] = pd.to_datetime(earm['Data'])

In [21]:
# Verificando novamente os tipos de coluna do dataframe earm
earm.dtypes

id_subsistema                              object
nom_subsistema                             object
Data                               datetime64[ns]
ear_max_subsistema                        float64
ear_verif_subsistema_mwmes                float64
ear_verif_subsistema_percentual           float64
dtype: object

In [22]:
# Reordenando o dataframe earm, pela coluna Data (em ordem decrescente)
earm=earm.sort_values(by='Data', ascending=False)
earm.head(20)

,id_subsistema,nom_subsistema,Data,ear_max_subsistema,ear_verif_subsistema_mwmes,ear_verif_subsistema_percentual
479,S,Sul,2023-04-30,20459.242188,17191.603516,84.028503
478,SE,Sudeste,2023-04-30,204615.328125,176361.671875,86.191803
477,N,Norte,2023-04-30,15302.396484,15059.340820,98.411697
476,NE,Nordeste,2023-04-30,51691.226562,46988.765625,90.902802
475,S,Sul,2023-04-29,20459.242188,17177.837891,83.961304
474,SE,Sudeste,2023-04-29,204615.328125,176283.828125,86.153801
473,N,Norte,2023-04-29,15302.396484,15004.389648,98.052597
472,NE,Nordeste,2023-04-29,51691.226562,47016.683594,90.956802
471,S,Sul,2023-04-28,20459.242188,17183.640625,83.989601
470,SE,Sudeste,2023-04-28,204615.328125,176349.125000,86.185699
469,N,Norte,2023-04-28,15302.396484,14964.939453,97.794701
468,NE,Nordeste,2023-04-28,51691.226562,47043.597656,91.008904
466,SE,Sudeste,2023-04-27,204615.328125,176594.250000,86.305496
464,NE,Nordeste,2023-04-27,51691.226562,47072.203125,91.064201
465,N,Norte,2023-04-27,15302.396484,14965.646484,97.799400
467,S,Sul,2023-04-27,20459.242188,17231.765625,84.224800
463,S,Sul,2023-04-26,20459.242188,17291.255859,84.515602
462,SE,Sudeste,2023-04-26,204615.328125,176567.203125,86.292297
461,N,Norte,2023-04-26,15302.396484,14983.705078,97.917397
460,NE,Nordeste,2023-04-26,51691.226562,47102.125000,91.122101

In [23]:
# Seção I.3: Programa para obtenção da Carga Elétrica - Dados Abertos Operador Nacional do Sistema Elétrico
# Dados por subsistema do Sistema Interligado Nacional, atualizados diariamente.

# Carga - Arquivos com os dados anuais, com histórico desde 2001. 
# Portanto, serão utilizados os mesmos parâmetros temporais base (que das demais grandezas)
# Importando os dados da url para o dataframe, começando pelo ano inicial do histórico, até o ano vigente
# Conforme dicionário de dados disponibilizado na página de Arquitetura Aberta do ONS, os arquivos .csv estão no formato UTF-8, com delimitador do tipo ponto-e-vírgula
carga=pd.read_csv("https://ons-dl-prod-opendata.s3.amazonaws.com/dataset/carga_energia_di/CARGA_ENERGIA_"+str(ano_zero)+".csv",delimiter=";",encoding = 'utf8')
carga=pd.DataFrame(carga)
for ano in range (ano_inicio,ano_fim+1):
    ano_str=str(ano)  
    carga_ano=pd.read_csv("https://ons-dl-prod-opendata.s3.amazonaws.com/dataset/carga_energia_di/CARGA_ENERGIA_"+ano_str+".csv",delimiter=";",encoding = 'utf8')
    carga_ano=pd.DataFrame(carga_ano)
    carga=pd.concat([carga,carga_ano])
print(carga)

    id_subsistema        nom_subsistema din_instante  val_cargaenergiamwmed
0               N                 NORTE   2001-01-01            2376.731250
1              NE              NORDESTE   2001-01-01            5035.816667
2               S                   SUL   2001-01-01            4925.373750
3              SE               SUDESTE   2001-01-01           19729.233333
4               N                 NORTE   2001-01-02            2537.383333
..            ...                   ...          ...                    ...
475            SE  Sudeste/Centro-Oeste   2023-04-29                    NaN
476             N                 Norte   2023-04-30                    NaN
477            NE              Nordeste   2023-04-30                    NaN
478             S                   Sul   2023-04-30                    NaN
479            SE  Sudeste/Centro-Oeste   2023-04-30                    NaN

[32621 rows x 4 columns]

In [24]:
# Conferindo as primeiras 10 linhas, para check da importação de dados
carga.head(10)

  id_subsistema nom_subsistema din_instante  val_cargaenergiamwmed
0             N          NORTE   2001-01-01            2376.731250
1            NE       NORDESTE   2001-01-01            5035.816667
2             S            SUL   2001-01-01            4925.373750
3            SE        SUDESTE   2001-01-01           19729.233333
4             N          NORTE   2001-01-02            2537.383333
5            NE       NORDESTE   2001-01-02            5946.387500
6             S            SUL   2001-01-02            6779.687500
7            SE        SUDESTE   2001-01-02           24596.195417
8             N          NORTE   2001-01-03            2540.345833
9            NE       NORDESTE   2001-01-03            6188.104167

In [25]:
# Conferindo as últimas 10 linhas
carga.tail(10)

    id_subsistema        nom_subsistema din_instante  val_cargaenergiamwmed
470             S                   Sul   2023-04-28                    NaN
471            SE  Sudeste/Centro-Oeste   2023-04-28                    NaN
472             N                 Norte   2023-04-29                    NaN
473            NE              Nordeste   2023-04-29                    NaN
474             S                   Sul   2023-04-29                    NaN
475            SE  Sudeste/Centro-Oeste   2023-04-29                    NaN
476             N                 Norte   2023-04-30                    NaN
477            NE              Nordeste   2023-04-30                    NaN
478             S                   Sul   2023-04-30                    NaN
479            SE  Sudeste/Centro-Oeste   2023-04-30                    NaN

In [26]:
# Conferindo a quantidade de dias (considerando 4 subsistemas)
len(carga)/4

8155.25

Constata-se, pela quantidade de dias, que o dataframe "carga" tem uma linha a mais que os dataframes "ena" e "earm". Ao mesclarmos as consultas, desejaremos excluir essa linha a mais.

In [27]:
# Verificando os tipos de coluna do dataframe carga
carga.dtypes

id_subsistema             object
nom_subsistema            object
din_instante              object
val_cargaenergiamwmed    float64
dtype: object

In [28]:
# Iniciando o tratamento dos dados
# Convertendo os nomes dos subsistemas para 1ª letra em maiúscula: SE->Sudeste; S->Sul; NE->Nordeste; N->Norte
carga['nom_subsistema']=carga['nom_subsistema'].replace({'SUDESTE':'Sudeste',
                                                'SUL':'Sul',
                                                'NORDESTE':'Nordeste',
                                                'NORTE':'Norte'})

In [29]:
# Renomeando a coluna de data, de modo a ser o mesmo nome em todos os DataFrames, para facilitar a chave de mesclagem
carga=carga.rename(columns = {'din_instante':'Data'})
print(carga)

    id_subsistema        nom_subsistema        Data  val_cargaenergiamwmed
0               N                 Norte  2001-01-01            2376.731250
1              NE              Nordeste  2001-01-01            5035.816667
2               S                   Sul  2001-01-01            4925.373750
3              SE               Sudeste  2001-01-01           19729.233333
4               N                 Norte  2001-01-02            2537.383333
..            ...                   ...         ...                    ...
475            SE  Sudeste/Centro-Oeste  2023-04-29                    NaN
476             N                 Norte  2023-04-30                    NaN
477            NE              Nordeste  2023-04-30                    NaN
478             S                   Sul  2023-04-30                    NaN
479            SE  Sudeste/Centro-Oeste  2023-04-30                    NaN

[32621 rows x 4 columns]

In [30]:
# Alterando o tipo da coluna "Data"
carga['Data'] = pd.to_datetime(carga['Data'])

In [31]:
# Verificando novamente os tipos de coluna do dataframe carga
carga.dtypes

id_subsistema                    object
nom_subsistema                   object
Data                     datetime64[ns]
val_cargaenergiamwmed           float64
dtype: object

In [32]:
# Reordenando o dataframe carga, pela coluna Data (em ordem decrescente)
carga=carga.sort_values(by='Data', ascending=False)
carga.head(20)

    id_subsistema        nom_subsistema       Data  val_cargaenergiamwmed
479            SE  Sudeste/Centro-Oeste 2023-04-30                    NaN
478             S                   Sul 2023-04-30                    NaN
477            NE              Nordeste 2023-04-30                    NaN
476             N                 Norte 2023-04-30                    NaN
475            SE  Sudeste/Centro-Oeste 2023-04-29                    NaN
474             S                   Sul 2023-04-29                    NaN
473            NE              Nordeste 2023-04-29                    NaN
472             N                 Norte 2023-04-29                    NaN
471            SE  Sudeste/Centro-Oeste 2023-04-28                    NaN
470             S                   Sul 2023-04-28                    NaN
469            NE              Nordeste 2023-04-28                    NaN
468             N                 Norte 2023-04-28                    NaN
466             S                   Sul 2023-04-27           12579.484125
464             N                 Norte 2023-04-27            7089.549875
465            NE              Nordeste 2023-04-27           11949.651458
467            SE  Sudeste/Centro-Oeste 2023-04-27           42255.506250
463            SE  Sudeste/Centro-Oeste 2023-04-26           41222.182958
462             S                   Sul 2023-04-26           12627.473500
461            NE              Nordeste 2023-04-26           11803.925500
460             N                 Norte 2023-04-26            6949.307250

> Considerações sobre o Custo Marginal da Operação: Até 2020, o cálculo do CMO era realizado por patamar de carga (pesada, média ou leve): um único valor para cada patamar dentro da semana operativa (iniciada no sábado até a sexta-feira seguinte).  A distribuição das horas pelos patamares de carga varia de acordo com o dia da semana (se é útil ou não) e com o mês (se verão, inverno ou "intermediário"). A partir de 2020, o CMO passou a ser calculado com granularidade horária. No entanto, considerando o histórico dos últimos 3 anos, poucas foram as vezes em que houve um descolamento significativo entre o custo horário e o custo semanal. Por este motivo, para este trabalho (e para as etapas futuras), será considerado o CMO semanal, para todo o horizonte disponível.

In [33]:
# Seção I.4: Programa para obtenção do Custo Marginal da Operação - Dados Abertos Operador Nacional do Sistema Elétrico
# Dados por subsistema do Sistema Interligado Nacional, atualizados diariamente.

# CMO - Arquivos com os dados anuais, com histórico desde 2005. 
# Portanto, serão utilizados os mesmos parâmetros temporais base (que das demais grandezas), à exceção do ano zero/de início
# Ao contrário das demais grandezas, os valores de CMO ora importados são semanais, vigorando do sábado à sexta-feira da semana operativa.
# Conforme dicionário de dados disponibilizado na página de Arquitetura Aberta do ONS, os arquivos .csv estão no formato UTF-8, com delimitador do tipo ponto-e-vírgula
ano_zerocmo=2005
ano_iniciocmo=ano_zerocmo+1
cmo=pd.read_csv("https://ons-dl-prod-opendata.s3.amazonaws.com/dataset/cmo_se/CMO_SEMANAL_"+str(ano_zerocmo)+".csv", delimiter=";",encoding = 'utf8')
cmo=pd.DataFrame(cmo)
for ano in range (ano_iniciocmo,ano_fim+1):
    ano_str=str(ano)  
    cmo_ano=pd.read_csv("https://ons-dl-prod-opendata.s3.amazonaws.com/dataset/cmo_se/CMO_SEMANAL_"+ano_str+".csv", delimiter=";", encoding = 'utf8')
    cmo_ano=pd.DataFrame(cmo_ano)
    cmo=pd.concat([cmo,cmo_ano])
print(cmo)

   id_subsistema nom_subsistema din_instante  val_cmomediasemanal  \
0              N          NORTE   2005-01-07                 0.94
1             NE       NORDESTE   2005-01-07                 0.94
2              S            SUL   2005-01-07                 4.50
3             SE        SUDESTE   2005-01-07                 0.00
4              N          NORTE   2005-01-14                 6.34
..           ...            ...          ...                  ...
67            SE        SUDESTE   2023-04-28                 0.00
68             N          NORTE   2023-05-05                 0.00
69            NE       NORDESTE   2023-05-05                 0.00
70             S            SUL   2023-05-05                 0.00
71            SE        SUDESTE   2023-05-05                 0.00

    val_cmoleve  val_cmomedia  val_cmopesada
0          0.94          0.94           0.94
1          0.94          0.94           0.94
2          4.39          4.59           4.59
3          0.00          0.00           0.00
4          5.87          6.41           7.64
..          ...           ...            ...
67         0.00          0.00           0.00
68         0.00          0.00           0.00
69         0.00          0.00           0.00
70         0.00          0.00           0.00
71         0.00          0.00           0.00

[3828 rows x 7 columns]

In [34]:
# Conferindo as primeiras 10 linhas, para check da importação de dados
cmo.head(10)

,id_subsistema,nom_subsistema,din_instante,val_cmomediasemanal,val_cmoleve,val_cmomedia,val_cmopesada
0,N,NORTE,2005-01-07,0.94,0.94,0.94,0.94
1,NE,NORDESTE,2005-01-07,0.94,0.94,0.94,0.94
2,S,SUL,2005-01-07,4.50,4.39,4.59,4.59
3,SE,SUDESTE,2005-01-07,0.00,0.00,0.00,0.00
4,N,NORTE,2005-01-14,6.34,5.87,6.41,7.64
5,NE,NORDESTE,2005-01-14,7.64,7.64,7.64,7.64
6,S,SUL,2005-01-14,12.32,12.11,12.44,12.44
7,SE,SUDESTE,2005-01-14,6.34,5.87,6.41,7.64
8,N,NORTE,2005-01-21,0.82,0.83,0.79,0.93
9,NE,NORDESTE,2005-01-21,0.69,0.69,0.69,0.69

In [35]:
# Conferindo as últimas 10 linhas
cmo.tail(10)

,id_subsistema,nom_subsistema,din_instante,val_cmomediasemanal,val_cmoleve,val_cmomedia,val_cmopesada
62,S,SUL,2023-04-21,0.0,0.0,0.0,0.0
63,SE,SUDESTE,2023-04-21,0.0,0.0,0.0,0.0
64,N,NORTE,2023-04-28,0.0,0.0,0.0,0.0
65,NE,NORDESTE,2023-04-28,0.0,0.0,0.0,0.0
66,S,SUL,2023-04-28,0.0,0.0,0.0,0.0
67,SE,SUDESTE,2023-04-28,0.0,0.0,0.0,0.0
68,N,NORTE,2023-05-05,0.0,0.0,0.0,0.0
69,NE,NORDESTE,2023-05-05,0.0,0.0,0.0,0.0
70,S,SUL,2023-05-05,0.0,0.0,0.0,0.0
71,SE,SUDESTE,2023-05-05,0.0,0.0,0.0,0.0

In [36]:
# Iniciando o tratamento dos dados
#Convertendo os nomes dos subsistemas para 1ª letra em maiúscula: SE->Sudeste; S->Sul; NE->Nordeste; N->Norte
cmo['nom_subsistema']=cmo['nom_subsistema'].replace({'SUDESTE':'Sudeste',
                                                'SUL':'Sul',
                                                'NORDESTE':'Nordeste',
                                                'NORTE':'Norte'})

In [37]:
# Renomeando a coluna de data, de modo a ser o mesmo nome em todos os DataFrames, para facilitar a chave de mesclagem
cmo=cmo.rename(columns = {'din_instante':'Data'})
print(cmo)

   id_subsistema nom_subsistema        Data  val_cmomediasemanal  val_cmoleve  \
0              N          Norte  2005-01-07                 0.94         0.94
1             NE       Nordeste  2005-01-07                 0.94         0.94
2              S            Sul  2005-01-07                 4.50         4.39
3             SE        Sudeste  2005-01-07                 0.00         0.00
4              N          Norte  2005-01-14                 6.34         5.87
..           ...            ...         ...                  ...          ...
67            SE        Sudeste  2023-04-28                 0.00         0.00
68             N          Norte  2023-05-05                 0.00         0.00
69            NE       Nordeste  2023-05-05                 0.00         0.00
70             S            Sul  2023-05-05                 0.00         0.00
71            SE        Sudeste  2023-05-05                 0.00         0.00

    val_cmomedia  val_cmopesada
0           0.94           0.94
1           0.94           0.94
2           4.59           4.59
3           0.00           0.00
4           6.41           7.64
..           ...            ...
67          0.00           0.00
68          0.00           0.00
69          0.00           0.00
70          0.00           0.00
71          0.00           0.00

[3828 rows x 7 columns]

In [38]:
# Verificando novamente os tipos de coluna do dataframe cmo
cmo.dtypes

id_subsistema           object
nom_subsistema          object
Data                    object
val_cmomediasemanal    float64
val_cmoleve            float64
val_cmomedia           float64
val_cmopesada          float64
dtype: object

In [39]:
# Alterando o tipo da coluna "Data"
cmo['Data'] = pd.to_datetime(cmo['Data'])

In [40]:
# Reordenando o dataframe cmo, pela coluna Data (em ordem decrescente)
cmo=cmo.sort_values(by='Data', ascending=False)
cmo.head(20)

,id_subsistema,nom_subsistema,Data,val_cmomediasemanal,val_cmoleve,val_cmomedia,val_cmopesada
71,SE,Sudeste,2023-05-05,0.0,0.0,0.0,0.0
70,S,Sul,2023-05-05,0.0,0.0,0.0,0.0
69,NE,Nordeste,2023-05-05,0.0,0.0,0.0,0.0
68,N,Norte,2023-05-05,0.0,0.0,0.0,0.0
67,SE,Sudeste,2023-04-28,0.0,0.0,0.0,0.0
66,S,Sul,2023-04-28,0.0,0.0,0.0,0.0
65,NE,Nordeste,2023-04-28,0.0,0.0,0.0,0.0
64,N,Norte,2023-04-28,0.0,0.0,0.0,0.0
63,SE,Sudeste,2023-04-21,0.0,0.0,0.0,0.0
62,S,Sul,2023-04-21,0.0,0.0,0.0,0.0
61,NE,Nordeste,2023-04-21,0.0,0.0,0.0,0.0
60,N,Norte,2023-04-21,0.0,0.0,0.0,0.0
58,S,Sul,2023-04-14,0.0,0.0,0.0,0.0
56,N,Norte,2023-04-14,0.0,0.0,0.0,0.0
57,NE,Nordeste,2023-04-14,0.0,0.0,0.0,0.0
59,SE,Sudeste,2023-04-14,0.0,0.0,0.0,0.0
55,SE,Sudeste,2023-04-07,0.0,0.0,0.0,0.0
54,S,Sul,2023-04-07,0.0,0.0,0.0,0.0
53,NE,Nordeste,2023-04-07,0.0,0.0,0.0,0.0
52,N,Norte,2023-04-07,0.0,0.0,0.0,0.0

In [41]:
cmo=cmo.assign(Diferenca=0)
print(cmo)

   id_subsistema nom_subsistema       Data  val_cmomediasemanal  val_cmoleve  \
71            SE        Sudeste 2023-05-05                 0.00         0.00
70             S            Sul 2023-05-05                 0.00         0.00
69            NE       Nordeste 2023-05-05                 0.00         0.00
68             N          Norte 2023-05-05                 0.00         0.00
67            SE        Sudeste 2023-04-28                 0.00         0.00
..           ...            ...        ...                  ...          ...
7             SE        Sudeste 2005-01-14                 6.34         5.87
2              S            Sul 2005-01-07                 4.50         4.39
1             NE       Nordeste 2005-01-07                 0.94         0.94
3             SE        Sudeste 2005-01-07                 0.00         0.00
0              N          Norte 2005-01-07                 0.94         0.94

    val_cmomedia  val_cmopesada  Diferenca
71          0.00           0.00          0
70          0.00           0.00          0
69          0.00           0.00          0
68          0.00           0.00          0
67          0.00           0.00          0
..           ...            ...        ...
7           6.41           7.64          0
2           4.59           4.59          0
1           0.94           0.94          0
3           0.00           0.00          0
0           0.94           0.94          0

[3828 rows x 8 columns]

In [42]:
cmo.dtypes

id_subsistema                  object
nom_subsistema                 object
Data                   datetime64[ns]
val_cmomediasemanal           float64
val_cmoleve                   float64
val_cmomedia                  float64
val_cmopesada                 float64
Diferenca                       int64
dtype: object

In [43]:
# Estabelecendo os valores para a coluna "Razao" (= CMO_Pesada - CMO_Leve)
comp_cmo=len(cmo)
for i in range(1,comp_cmo):
    cmo['Razao']=(cmo['val_cmopesada']-cmo['val_cmoleve'])/cmo['val_cmopesada']
print(cmo)

   id_subsistema nom_subsistema       Data  val_cmomediasemanal  val_cmoleve  \
71            SE        Sudeste 2023-05-05                 0.00         0.00
70             S            Sul 2023-05-05                 0.00         0.00
69            NE       Nordeste 2023-05-05                 0.00         0.00
68             N          Norte 2023-05-05                 0.00         0.00
67            SE        Sudeste 2023-04-28                 0.00         0.00
..           ...            ...        ...                  ...          ...
7             SE        Sudeste 2005-01-14                 6.34         5.87
2              S            Sul 2005-01-07                 4.50         4.39
1             NE       Nordeste 2005-01-07                 0.94         0.94
3             SE        Sudeste 2005-01-07                 0.00         0.00
0              N          Norte 2005-01-07                 0.94         0.94

    val_cmomedia  val_cmopesada  Diferenca     Razao
71          0.00           0.00          0       NaN
70          0.00           0.00          0       NaN
69          0.00           0.00          0       NaN
68          0.00           0.00          0       NaN
67          0.00           0.00          0       NaN
..           ...            ...        ...       ...
7           6.41           7.64          0  0.231675
2           4.59           4.59          0  0.043573
1           0.94           0.94          0  0.000000
3           0.00           0.00          0       NaN
0           0.94           0.94          0  0.000000

[3828 rows x 9 columns]

In [44]:
# Substituindo os valores 'NaN' por '0', reordenando pela coluna Razao e avaliando os 500 resultados mais altos
cmo=cmo.fillna(0)
cmo=cmo.sort_values(by='Razao', ascending=False)
cmo.head(500)

,id_subsistema,nom_subsistema,Data,val_cmomediasemanal,val_cmoleve,val_cmomedia,val_cmopesada,Diferenca,Razao
1,NE,Nordeste,2022-01-07,36.09,0.00,68.65,69.20,0,1.000000
19,SE,Sudeste,2012-02-03,12.91,0.00,20.27,20.27,0,1.000000
20,N,Norte,2010-02-05,20.69,0.00,32.34,33.22,0,1.000000
22,S,Sul,2010-02-05,20.69,0.00,32.34,33.22,0,1.000000
202,S,Sul,2015-12-18,61.10,0.00,95.93,95.93,0,1.000000
...,...,...,...,...,...,...,...,...,...
204,N,Norte,2012-12-28,318.85,315.89,315.89,349.09,0,0.095104
205,NE,Nordeste,2012-12-28,318.85,315.89,315.89,349.09,0,0.095104
69,NE,Nordeste,2018-05-04,148.13,139.83,154.51,154.51,0,0.095010
19,SE,Sudeste,2018-02-02,157.33,147.51,162.93,162.93,0,0.094642
73,NE,Nordeste,2016-05-06,110.05,103.20,113.95,113.95,0,0.094340



> Como pode ser observado, os dados de CMO semanal são disponibilizados para datas de sextas-feiras (último dia de cada semana operativa). Vamos alterar essa data para o sábado anterior (início da semana operativa). Além disso, constata-se que em aproximadamente 500 semanas da amostra (desde 2005 até abril/23) o CMO correspondente aos patamares de carga leve foram pelo menos 10% menores que o CMO de carga pesada.

In [45]:
# Alterando a data (sexta-feira) para o sábado anterior
cmo['Data']=cmo['Data']-datetime.timedelta(days=6)
cmo=cmo.sort_values(by='Data', ascending=False)
print(cmo)

   id_subsistema nom_subsistema       Data  val_cmomediasemanal  val_cmoleve  \
68             N          Norte 2023-04-29                 0.00         0.00
70             S            Sul 2023-04-29                 0.00         0.00
71            SE        Sudeste 2023-04-29                 0.00         0.00
69            NE       Nordeste 2023-04-29                 0.00         0.00
64             N          Norte 2023-04-22                 0.00         0.00
..           ...            ...        ...                  ...          ...
7             SE        Sudeste 2005-01-08                 6.34         5.87
1             NE       Nordeste 2005-01-01                 0.94         0.94
3             SE        Sudeste 2005-01-01                 0.00         0.00
2              S            Sul 2005-01-01                 4.50         4.39
0              N          Norte 2005-01-01                 0.94         0.94

    val_cmomedia  val_cmopesada  Diferenca     Razao
68          0.00           0.00          0  0.000000
70          0.00           0.00          0  0.000000
71          0.00           0.00          0  0.000000
69          0.00           0.00          0  0.000000
64          0.00           0.00          0  0.000000
..           ...            ...        ...       ...
7           6.41           7.64          0  0.231675
1           0.94           0.94          0  0.000000
3           0.00           0.00          0  0.000000
2           4.59           4.59          0  0.043573
0           0.94           0.94          0  0.000000

[3828 rows x 9 columns]

**Seção II: Mesclagem dos dados de ENA, EArm e Carga em uma consulta única**

> Uma vez que o ONS disponibiliza os dados em bases distintas e, em etapas futuras, pretendemos utilizar este *dataset* para predição de Custos Marginais da Operação futuros por meio de técnicas de Inteligência Artificial, vamos unificar os dados de ENA, EArm e Carga em um DataFrame único, utilizando como colunas em comum aquelas referentes às datas e aos nomes dos subsistemas. Além disso, desprezaremos as colunas com "id" dos subsistemas.

In [46]:
# Seção II.1: Mesclagem das consultas de ENA e EArm
ena_earm=pd.merge(ena, earm, how="left")
print(ena_earm)

      id_subsistema nom_subsistema       Data  ena_bruta_regiao_mwmed  \
0                SE        Sudeste 2023-04-30            51253.191406
1                 S            Sul 2023-04-30             5107.930176
2                NE       Nordeste 2023-04-30             4425.798828
3                 N          Norte 2023-04-30            24056.681641
4                SE        Sudeste 2023-04-29            52427.855469
...             ...            ...        ...                     ...
32615            SE        Sudeste 2001-01-02            41230.000000
32616             S            Sul 2001-01-01             7703.000000
32617            NE       Nordeste 2001-01-01            13472.000000
32618            SE        Sudeste 2001-01-01            39186.000000
32619             N          Norte 2001-01-01            10154.000000

       ena_bruta_regiao_percentualmlt  ena_armazenavel_regiao_mwmed  \
0                           93.612701                  32486.623047
1                           78.522697                   4844.619141
2                           38.512600                   4407.208984
3                           89.205101                  16727.423828
4                           95.758202                  35085.000000
...                               ...                           ...
32615                       91.519997                  40063.000000
32616                      160.910004                   7703.000000
32617                      101.480003                  13385.000000
32618                       86.980003                  37611.000000
32619                      122.339996                   9033.000000

       ena_armazenavel_regiao_percentualmlt  ear_max_subsistema  \
0                                 59.335999       204615.328125
1                                 74.474899        20459.242188
2                                 38.350800        51691.226562
3                                 62.027302        15302.396484
4                                 64.081902       204615.328125
...                                     ...                 ...
32615                             88.930000       159081.000000
32616                            160.910004        14176.000000
32617                            100.830002        49967.000000
32618                             83.489998       159081.000000
32619                            108.839996        12311.000000

       ear_verif_subsistema_mwmes  ear_verif_subsistema_percentual
0                   176361.671875                        86.191803
1                    17191.603516                        84.028503
2                    46988.765625                        90.902802
3                    15059.340820                        98.411697
4                   176283.828125                        86.153801
...                           ...                              ...
32615                46850.000000                        29.450001
32616                12857.000000                        90.690002
32617                18699.000000                        37.419998
32618                46315.000000                        29.110001
32619                 9137.000000                        74.220001

[32620 rows x 10 columns]

In [47]:
# Seção II.2: Mesclagem das consultas de ENA e EArm com a carga
dados=pd.merge(ena_earm, carga, how="left")
print(dados)

      id_subsistema nom_subsistema       Data  ena_bruta_regiao_mwmed  \
0                SE        Sudeste 2023-04-30            51253.191406
1                 S            Sul 2023-04-30             5107.930176
2                NE       Nordeste 2023-04-30             4425.798828
3                 N          Norte 2023-04-30            24056.681641
4                SE        Sudeste 2023-04-29            52427.855469
...             ...            ...        ...                     ...
32615            SE        Sudeste 2001-01-02            41230.000000
32616             S            Sul 2001-01-01             7703.000000
32617            NE       Nordeste 2001-01-01            13472.000000
32618            SE        Sudeste 2001-01-01            39186.000000
32619             N          Norte 2001-01-01            10154.000000

       ena_bruta_regiao_percentualmlt  ena_armazenavel_regiao_mwmed  \
0                           93.612701                  32486.623047
1                           78.522697                   4844.619141
2                           38.512600                   4407.208984
3                           89.205101                  16727.423828
4                           95.758202                  35085.000000
...                               ...                           ...
32615                       91.519997                  40063.000000
32616                      160.910004                   7703.000000
32617                      101.480003                  13385.000000
32618                       86.980003                  37611.000000
32619                      122.339996                   9033.000000

       ena_armazenavel_regiao_percentualmlt  ear_max_subsistema  \
0                                 59.335999       204615.328125
1                                 74.474899        20459.242188
2                                 38.350800        51691.226562
3                                 62.027302        15302.396484
4                                 64.081902       204615.328125
...                                     ...                 ...
32615                             88.930000       159081.000000
32616                            160.910004        14176.000000
32617                            100.830002        49967.000000
32618                             83.489998       159081.000000
32619                            108.839996        12311.000000

       ear_verif_subsistema_mwmes  ear_verif_subsistema_percentual  \
0                   176361.671875                        86.191803
1                    17191.603516                        84.028503
2                    46988.765625                        90.902802
3                    15059.340820                        98.411697
4                   176283.828125                        86.153801
...                           ...                              ...
32615                46850.000000                        29.450001
32616                12857.000000                        90.690002
32617                18699.000000                        37.419998
32618                46315.000000                        29.110001
32619                 9137.000000                        74.220001

       val_cargaenergiamwmed
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN
...                      ...
32615           24596.195417
32616            4925.373750
32617            5035.816667
32618           19729.233333
32619            2376.731250

[32620 rows x 11 columns]

In [48]:
# Mesclando o dataset "dados" com o dataset "cmo", utilizando as colunas "Data" e "nom_subsistema" como chaves
dados=pd.merge(dados, cmo, how="left")
print(dados)

      id_subsistema nom_subsistema       Data  ena_bruta_regiao_mwmed  \
0                SE        Sudeste 2023-04-30            51253.191406
1                 S            Sul 2023-04-30             5107.930176
2                NE       Nordeste 2023-04-30             4425.798828
3                 N          Norte 2023-04-30            24056.681641
4                SE        Sudeste 2023-04-29            52427.855469
...             ...            ...        ...                     ...
32615            SE        Sudeste 2001-01-02            41230.000000
32616             S            Sul 2001-01-01             7703.000000
32617            NE       Nordeste 2001-01-01            13472.000000
32618            SE        Sudeste 2001-01-01            39186.000000
32619             N          Norte 2001-01-01            10154.000000

       ena_bruta_regiao_percentualmlt  ena_armazenavel_regiao_mwmed  \
0                           93.612701                  32486.623047
1                           78.522697                   4844.619141
2                           38.512600                   4407.208984
3                           89.205101                  16727.423828
4                           95.758202                  35085.000000
...                               ...                           ...
32615                       91.519997                  40063.000000
32616                      160.910004                   7703.000000
32617                      101.480003                  13385.000000
32618                       86.980003                  37611.000000
32619                      122.339996                   9033.000000

       ena_armazenavel_regiao_percentualmlt  ear_max_subsistema  \
0                                 59.335999       204615.328125
1                                 74.474899        20459.242188
2                                 38.350800        51691.226562
3                                 62.027302        15302.396484
4                                 64.081902       204615.328125
...                                     ...                 ...
32615                             88.930000       159081.000000
32616                            160.910004        14176.000000
32617                            100.830002        49967.000000
32618                             83.489998       159081.000000
32619                            108.839996        12311.000000

       ear_verif_subsistema_mwmes  ear_verif_subsistema_percentual  \
0                   176361.671875                        86.191803
1                    17191.603516                        84.028503
2                    46988.765625                        90.902802
3                    15059.340820                        98.411697
4                   176283.828125                        86.153801
...                           ...                              ...
32615                46850.000000                        29.450001
32616                12857.000000                        90.690002
32617                18699.000000                        37.419998
32618                46315.000000                        29.110001
32619                 9137.000000                        74.220001

       val_cargaenergiamwmed  val_cmomediasemanal  val_cmoleve  val_cmomedia  \
0                        NaN                  NaN          NaN           NaN
1                        NaN                  NaN          NaN           NaN
2                        NaN                  NaN          NaN           NaN
3                        NaN                  NaN          NaN           NaN
4                        NaN                  0.0          0.0           0.0
...                      ...                  ...          ...           ...
32615           24596.195417                  NaN          NaN           NaN
32616            4925.373750                  NaN          NaN           NaN
32617            5035.816667                  NaN          NaN           NaN
32618           19729.233333                  NaN          NaN           NaN
32619            2376.731250                  NaN          NaN           NaN

       val_cmopesada  Diferenca  Razao
0                NaN        NaN    NaN
1                NaN        NaN    NaN
2                NaN        NaN    NaN
3                NaN        NaN    NaN
4                0.0        0.0    0.0
...              ...        ...    ...
32615            NaN        NaN    NaN
32616            NaN        NaN    NaN
32617            NaN        NaN    NaN
32618            NaN        NaN    NaN
32619            NaN        NaN    NaN

[32620 rows x 17 columns]

In [49]:
# Excluindo a coluna "id_subsistema", que não agrega informação relevante ao conjunto de dados
dados=dados.drop(columns=['id_subsistema'])
print(dados)

      nom_subsistema       Data  ena_bruta_regiao_mwmed  \
0            Sudeste 2023-04-30            51253.191406
1                Sul 2023-04-30             5107.930176
2           Nordeste 2023-04-30             4425.798828
3              Norte 2023-04-30            24056.681641
4            Sudeste 2023-04-29            52427.855469
...              ...        ...                     ...
32615        Sudeste 2001-01-02            41230.000000
32616            Sul 2001-01-01             7703.000000
32617       Nordeste 2001-01-01            13472.000000
32618        Sudeste 2001-01-01            39186.000000
32619          Norte 2001-01-01            10154.000000

       ena_bruta_regiao_percentualmlt  ena_armazenavel_regiao_mwmed  \
0                           93.612701                  32486.623047
1                           78.522697                   4844.619141
2                           38.512600                   4407.208984
3                           89.205101                  16727.423828
4                           95.758202                  35085.000000
...                               ...                           ...
32615                       91.519997                  40063.000000
32616                      160.910004                   7703.000000
32617                      101.480003                  13385.000000
32618                       86.980003                  37611.000000
32619                      122.339996                   9033.000000

       ena_armazenavel_regiao_percentualmlt  ear_max_subsistema  \
0                                 59.335999       204615.328125
1                                 74.474899        20459.242188
2                                 38.350800        51691.226562
3                                 62.027302        15302.396484
4                                 64.081902       204615.328125
...                                     ...                 ...
32615                             88.930000       159081.000000
32616                            160.910004        14176.000000
32617                            100.830002        49967.000000
32618                             83.489998       159081.000000
32619                            108.839996        12311.000000

       ear_verif_subsistema_mwmes  ear_verif_subsistema_percentual  \
0                   176361.671875                        86.191803
1                    17191.603516                        84.028503
2                    46988.765625                        90.902802
3                    15059.340820                        98.411697
4                   176283.828125                        86.153801
...                           ...                              ...
32615                46850.000000                        29.450001
32616                12857.000000                        90.690002
32617                18699.000000                        37.419998
32618                46315.000000                        29.110001
32619                 9137.000000                        74.220001

       val_cargaenergiamwmed  val_cmomediasemanal  val_cmoleve  val_cmomedia  \
0                        NaN                  NaN          NaN           NaN
1                        NaN                  NaN          NaN           NaN
2                        NaN                  NaN          NaN           NaN
3                        NaN                  NaN          NaN           NaN
4                        NaN                  0.0          0.0           0.0
...                      ...                  ...          ...           ...
32615           24596.195417                  NaN          NaN           NaN
32616            4925.373750                  NaN          NaN           NaN
32617            5035.816667                  NaN          NaN           NaN
32618           19729.233333                  NaN          NaN           NaN
32619            2376.731250                  NaN          NaN           NaN

       val_cmopesada  Diferenca  Razao
0                NaN        NaN    NaN
1                NaN        NaN    NaN
2                NaN        NaN    NaN
3                NaN        NaN    NaN
4                0.0        0.0    0.0
...              ...        ...    ...
32615            NaN        NaN    NaN
32616            NaN        NaN    NaN
32617            NaN        NaN    NaN
32618            NaN        NaN    NaN
32619            NaN        NaN    NaN

[32620 rows x 16 columns]

In [50]:
# Renomeando as colunas do dataframe dados
dados.columns=['Subsistema','Data','ENA_Bruta[MWmed]','ENA_Bruta[%MLT]','ENA_Armazenavel[MWmed]','ENA_Armazenavel[%MLT]','EAR_max','EAR[MWmes]','EAR[%max]','Carga_Diaria[MWmed]','CMO_semanal[R$/MWh]','CMO_leve[R$/MWh]','CMO_media[R$/MWh]','CMO_pesada[R$/MWh]','Diferenca_CMO [R$/MWh]','Razao_CMO']
print (dados)

      Subsistema       Data  ENA_Bruta[MWmed]  ENA_Bruta[%MLT]  \
0        Sudeste 2023-04-30      51253.191406        93.612701
1            Sul 2023-04-30       5107.930176        78.522697
2       Nordeste 2023-04-30       4425.798828        38.512600
3          Norte 2023-04-30      24056.681641        89.205101
4        Sudeste 2023-04-29      52427.855469        95.758202
...          ...        ...               ...              ...
32615    Sudeste 2001-01-02      41230.000000        91.519997
32616        Sul 2001-01-01       7703.000000       160.910004
32617   Nordeste 2001-01-01      13472.000000       101.480003
32618    Sudeste 2001-01-01      39186.000000        86.980003
32619      Norte 2001-01-01      10154.000000       122.339996

       ENA_Armazenavel[MWmed]  ENA_Armazenavel[%MLT]        EAR_max  \
0                32486.623047              59.335999  204615.328125
1                 4844.619141              74.474899   20459.242188
2                 4407.208984              38.350800   51691.226562
3                16727.423828              62.027302   15302.396484
4                35085.000000              64.081902  204615.328125
...                       ...                    ...            ...
32615            40063.000000              88.930000  159081.000000
32616             7703.000000             160.910004   14176.000000
32617            13385.000000             100.830002   49967.000000
32618            37611.000000              83.489998  159081.000000
32619             9033.000000             108.839996   12311.000000

          EAR[MWmes]  EAR[%max]  Carga_Diaria[MWmed]  CMO_semanal[R$/MWh]  \
0      176361.671875  86.191803                  NaN                  NaN
1       17191.603516  84.028503                  NaN                  NaN
2       46988.765625  90.902802                  NaN                  NaN
3       15059.340820  98.411697                  NaN                  NaN
4      176283.828125  86.153801                  NaN                  0.0
...              ...        ...                  ...                  ...
32615   46850.000000  29.450001         24596.195417                  NaN
32616   12857.000000  90.690002          4925.373750                  NaN
32617   18699.000000  37.419998          5035.816667                  NaN
32618   46315.000000  29.110001         19729.233333                  NaN
32619    9137.000000  74.220001          2376.731250                  NaN

       CMO_leve[R$/MWh]  CMO_media[R$/MWh]  CMO_pesada[R$/MWh]  \
0                   NaN                NaN                 NaN
1                   NaN                NaN                 NaN
2                   NaN                NaN                 NaN
3                   NaN                NaN                 NaN
4                   0.0                0.0                 0.0
...                 ...                ...                 ...
32615               NaN                NaN                 NaN
32616               NaN                NaN                 NaN
32617               NaN                NaN                 NaN
32618               NaN                NaN                 NaN
32619               NaN                NaN                 NaN

       Diferenca_CMO [R$/MWh]  Razao_CMO
0                         NaN        NaN
1                         NaN        NaN
2                         NaN        NaN
3                         NaN        NaN
4                         0.0        0.0
...                       ...        ...
32615                     NaN        NaN
32616                     NaN        NaN
32617                     NaN        NaN
32618                     NaN        NaN
32619                     NaN        NaN

[32620 rows x 16 columns]

# Seção III: Análise Exploratória do DataFrame dados (ENA+EArm+Carga+CMO)

##Informações Gerais e Estatísticas Descritivas

**Avaliações de dimensionalidade e principais informações do dataset dados, importado e inicialmente trabalhado nas seções anteriores**

In [51]:
# Mostrando as dimensões do dataset
dados.shape

(32620, 16)

In [52]:
# Mostrando as informações do dataset
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32620 entries, 0 to 32619
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Subsistema              32620 non-null  object
 1   Data                    32620 non-null  datetime64[ns]
 2   ENA_Bruta[MWmed]        32620 non-null  float64
 3   ENA_Bruta[%MLT]         32620 non-null  float64
 4   ENA_Armazenavel[MWmed]  32620 non-null  float64
 5   ENA_Armazenavel[%MLT]   32620 non-null  float64
 6   EAR_max                 32620 non-null  float64
 7   EAR[MWmes]              32620 non-null  float64
 8   EAR[%max]               32620 non-null  float64
 9   Carga_Diaria[MWmed]     32443 non-null  float64
 10  CMO_semanal[R$/MWh]     3828 non-null   float64
 11  CMO_leve[R$/MWh]        3828 non-null   float64
 12  CMO_media[R$/MWh]       3828 non-null   float64
 13  CMO_pesada[R$/MWh]      3828 non-null   float64
 14  Diferenca_CMO [R$/MWh]  3828 non-null   float64
 15  Razao_CMO               3828 non-null   float64
dtypes: datetime64[ns](1), float64(14), object(1)
memory usage: 4.2+ MB



> Conforme esperado, as colunas correspondentes ao CMO possuem muito mais valores nulos que as demais. Isso ocorre em decorrência do fato de que o CMO é disponibilizado semanalmente. Além disso, os dados referentes à ENA, EArm e carga se iniciam em 2001 e o CMO, em 2005. Preencheremos os dados faltantes do CMO e reduziremos o horizonte, começando em 2005.

In [53]:
# Reduzindo o horizonte (iniciando em 2005)
data_inicio='2005-01-01'
filtro_data = (dados['Data'] >= data_inicio)
dados=dados.loc[filtro_data]
print(dados)

      Subsistema       Data  ENA_Bruta[MWmed]  ENA_Bruta[%MLT]  \
0        Sudeste 2023-04-30      51253.191406        93.612701
1            Sul 2023-04-30       5107.930176        78.522697
2       Nordeste 2023-04-30       4425.798828        38.512600
3          Norte 2023-04-30      24056.681641        89.205101
4        Sudeste 2023-04-29      52427.855469        95.758202
...          ...        ...               ...              ...
26771    Sudeste 2005-01-02      43352.000000        86.129997
26772    Sudeste 2005-01-01      43952.000000        87.320000
26773        Sul 2005-01-01       2812.000000        50.650002
26774   Nordeste 2005-01-01      10222.000000        74.010002
26775      Norte 2005-01-01       4157.000000        50.750000

       ENA_Armazenavel[MWmed]  ENA_Armazenavel[%MLT]        EAR_max  \
0                32486.623047              59.335999  204615.328125
1                 4844.619141              74.474899   20459.242188
2                 4407.208984              38.350800   51691.226562
3                16727.423828              62.027302   15302.396484
4                35085.000000              64.081902  204615.328125
...                       ...                    ...            ...
26771            40536.000000              80.540001  177852.000000
26772            40017.000000              79.510002  177852.000000
26773             2802.000000              50.470001   15386.000000
26774            10222.000000              74.010002   50757.000000
26775             4157.000000              50.750000   12311.000000

          EAR[MWmes]  EAR[%max]  Carga_Diaria[MWmed]  CMO_semanal[R$/MWh]  \
0      176361.671875  86.191803                  NaN                  NaN
1       17191.603516  84.028503                  NaN                  NaN
2       46988.765625  90.902802                  NaN                  NaN
3       15059.340820  98.411697                  NaN                  NaN
4      176283.828125  86.153801                  NaN                 0.00
...              ...        ...                  ...                  ...
26771  115431.000000  64.900002         22535.160414                  NaN
26772  115210.000000  64.779999         21533.057499                 0.00
26773   11386.000000  74.000000          5623.146667                 4.50
26774   30061.000000  59.230000          5697.888333                 0.94
26775    3969.000000  32.240002          2836.050000                 0.94

       CMO_leve[R$/MWh]  CMO_media[R$/MWh]  CMO_pesada[R$/MWh]  \
0                   NaN                NaN                 NaN
1                   NaN                NaN                 NaN
2                   NaN                NaN                 NaN
3                   NaN                NaN                 NaN
4                  0.00               0.00                0.00
...                 ...                ...                 ...
26771               NaN                NaN                 NaN
26772              0.00               0.00                0.00
26773              4.39               4.59                4.59
26774              0.94               0.94                0.94
26775              0.94               0.94                0.94

       Diferenca_CMO [R$/MWh]  Razao_CMO
0                         NaN        NaN
1                         NaN        NaN
2                         NaN        NaN
3                         NaN        NaN
4                         0.0   0.000000
...                       ...        ...
26771                     NaN        NaN
26772                     0.0   0.000000
26773                     0.0   0.043573
26774                     0.0   0.000000
26775                     0.0   0.000000

[26776 rows x 16 columns]

In [54]:
# Preenchendo os valores NaN das colunas que vieram do dataset de CMO, com os dados do sábado da respectiva semana operativa
# Criando uma coluna que concatena "Subsistema" e "Data"
comp_dados=len(dados)
dados=dados.assign(Concatenar="xxx")
for i in range(0,comp_dados):
    dados['Concatenar'][i]=dados['Subsistema'][i]+"//"+str(dados['Data'][i])
print(dados)

<ipython-input-54-4439c9079c5e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['Concatenar'][i]=dados['Subsistema'][i]+"//"+str(dados['Data'][i])

      Subsistema       Data  ENA_Bruta[MWmed]  ENA_Bruta[%MLT]  \
0        Sudeste 2023-04-30      51253.191406        93.612701
1            Sul 2023-04-30       5107.930176        78.522697
2       Nordeste 2023-04-30       4425.798828        38.512600
3          Norte 2023-04-30      24056.681641        89.205101
4        Sudeste 2023-04-29      52427.855469        95.758202
...          ...        ...               ...              ...
26771    Sudeste 2005-01-02      43352.000000        86.129997
26772    Sudeste 2005-01-01      43952.000000        87.320000
26773        Sul 2005-01-01       2812.000000        50.650002
26774   Nordeste 2005-01-01      10222.000000        74.010002
26775      Norte 2005-01-01       4157.000000        50.750000

       ENA_Armazenavel[MWmed]  ENA_Armazenavel[%MLT]        EAR_max  \
0                32486.623047              59.335999  204615.328125
1                 4844.619141              74.474899   20459.242188
2                 4407.208984              38.350800   51691.226562
3                16727.423828              62.027302   15302.396484
4                35085.000000              64.081902  204615.328125
...                       ...                    ...            ...
26771            40536.000000              80.540001  177852.000000
26772            40017.000000              79.510002  177852.000000
26773             2802.000000              50.470001   15386.000000
26774            10222.000000              74.010002   50757.000000
26775             4157.000000              50.750000   12311.000000

          EAR[MWmes]  EAR[%max]  Carga_Diaria[MWmed]  CMO_semanal[R$/MWh]  \
0      176361.671875  86.191803                  NaN                  NaN
1       17191.603516  84.028503                  NaN                  NaN
2       46988.765625  90.902802                  NaN                  NaN
3       15059.340820  98.411697                  NaN                  NaN
4      176283.828125  86.153801                  NaN                 0.00
...              ...        ...                  ...                  ...
26771  115431.000000  64.900002         22535.160414                  NaN
26772  115210.000000  64.779999         21533.057499                 0.00
26773   11386.000000  74.000000          5623.146667                 4.50
26774   30061.000000  59.230000          5697.888333                 0.94
26775    3969.000000  32.240002          2836.050000                 0.94

       CMO_leve[R$/MWh]  CMO_media[R$/MWh]  CMO_pesada[R$/MWh]  \
0                   NaN                NaN                 NaN
1                   NaN                NaN                 NaN
2                   NaN                NaN                 NaN
3                   NaN                NaN                 NaN
4                  0.00               0.00                0.00
...                 ...                ...                 ...
26771               NaN                NaN                 NaN
26772              0.00               0.00                0.00
26773              4.39               4.59                4.59
26774              0.94               0.94                0.94
26775              0.94               0.94                0.94

       Diferenca_CMO [R$/MWh]  Razao_CMO                     Concatenar
0                         NaN        NaN   Sudeste//2023-04-30 00:00:00
1                         NaN        NaN       Sul//2023-04-30 00:00:00
2                         NaN        NaN  Nordeste//2023-04-30 00:00:00
3                         NaN        NaN     Norte//2023-04-30 00:00:00
4                         0.0   0.000000   Sudeste//2023-04-29 00:00:00
...                       ...        ...                            ...
26771                     NaN        NaN   Sudeste//2005-01-02 00:00:00
26772                     0.0   0.000000   Sudeste//2005-01-01 00:00:00
26773                     0.0   0.043573       Sul//2005-01-01 00:00:00
26774                     0.0   0.000000  Nordeste//2005-01-01 00:00:00
26775                     0.0   0.000000     Norte//2005-01-01 00:00:00

[26776 rows x 17 columns]

In [55]:
# Ordenando pela coluna "Concatenar"
dados=dados.sort_values(by='Concatenar', ascending=False)
dados.head(20)

,Subsistema,Data,ENA_Bruta[MWmed],ENA_Bruta[%MLT],ENA_Armazenavel[MWmed],ENA_Armazenavel[%MLT],EAR_max,EAR[MWmes],EAR[%max],Carga_Diaria[MWmed],CMO_semanal[R$/MWh],CMO_leve[R$/MWh],CMO_media[R$/MWh],CMO_pesada[R$/MWh],Diferenca_CMO [R$/MWh],Razao_CMO,Concatenar
1,Sul,2023-04-30,5107.930176,78.522697,4844.619141,74.474899,20459.242188,17191.603516,84.028503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-30 00:00:00
5,Sul,2023-04-29,5535.545898,85.096298,5180.103027,79.632202,20459.242188,17177.837891,83.961304,NaN,0.0,0.0,0.0,0.0,0.0,0.0,Sul//2023-04-29 00:00:00
9,Sul,2023-04-28,6023.563965,92.598503,5882.439941,90.429001,20459.242188,17183.640625,83.989601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-28 00:00:00
12,Sul,2023-04-27,6547.628906,100.654800,6178.768066,94.984398,20459.242188,17231.765625,84.224800,12579.484125,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-27 00:00:00
17,Sul,2023-04-26,6861.458008,105.479202,4323.437988,66.462997,20459.242188,17291.255859,84.515602,12627.473500,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-26 00:00:00
21,Sul,2023-04-25,7162.970215,110.114304,4906.201172,75.421600,20459.242188,17334.703125,84.727997,12557.841417,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-25 00:00:00
25,Sul,2023-04-24,7565.362793,116.300102,6555.236816,100.771797,20459.242188,17384.845703,84.973099,11823.463375,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-24 00:00:00
28,Sul,2023-04-23,8150.490234,125.295097,3094.553955,47.571701,20459.242188,17356.292969,84.833504,8646.549208,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-23 00:00:00
33,Sul,2023-04-22,8903.839844,136.876205,3783.049072,58.155701,20459.242188,17379.746094,84.948097,9310.242208,0.0,0.0,0.0,0.0,0.0,0.0,Sul//2023-04-22 00:00:00
37,Sul,2023-04-21,9812.426758,150.843597,5930.674805,91.170601,20459.242188,17381.421875,84.956299,9641.262042,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-21 00:00:00
41,Sul,2023-04-20,10839.727539,166.636002,7128.425781,109.583199,20459.242188,17364.298828,84.872597,11225.172917,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-20 00:00:00
44,Sul,2023-04-19,11394.136719,175.158798,6858.198242,105.429100,20459.242188,17390.808594,85.002197,11500.866583,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-19 00:00:00
49,Sul,2023-04-18,9963.967773,153.173203,3572.183105,54.914101,20459.242188,17348.271484,84.794296,12071.937208,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-18 00:00:00
53,Sul,2023-04-17,6803.033203,104.581100,6296.073242,96.787697,20459.242188,17338.529297,84.746696,12420.995833,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-17 00:00:00
58,Sul,2023-04-16,4784.429199,73.549599,4467.729004,68.681099,20459.242188,17252.111328,84.324303,9788.408667,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-16 00:00:00
60,Sul,2023-04-15,4288.882812,65.931801,4004.481934,61.559700,20459.242188,17194.871094,84.044502,11277.523500,0.0,0.0,0.0,0.0,0.0,0.0,Sul//2023-04-15 00:00:00
65,Sul,2023-04-14,4030.825928,61.964699,3926.073975,60.354401,20459.242188,17167.660156,83.911499,13234.976875,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-14 00:00:00
69,Sul,2023-04-13,4260.455078,65.494698,4155.397949,63.879700,20459.242188,17193.449219,84.037598,13762.315500,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-13 00:00:00
73,Sul,2023-04-12,4611.397949,70.889702,4508.909180,69.314201,20459.242188,17210.097656,84.118896,13805.990167,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-12 00:00:00
76,Sul,2023-04-11,5036.227051,77.420502,4959.266113,76.237396,20459.242188,17222.144531,84.177803,13367.185292,NaN,NaN,NaN,NaN,NaN,NaN,Sul//2023-04-11 00:00:00

In [56]:
# Preenchimento "backward" para todo o DataFrame
# Em relação ao CMO, o que será feito é o preenchimento de domingo a sexta com os dados de sábado.
# Valores de dias faltantes serão preenchidos com os últimos valores disponíveis "no entorno",
# pois neste caso tendem a ser mais fieis à realidade do dia do que algum parâmetro estatístico
dados=dados.bfill(axis=0)
print(dados)
dados.tail(30)

      Subsistema       Data  ENA_Bruta[MWmed]  ENA_Bruta[%MLT]  \
1            Sul 2023-04-30       5107.930176        78.522697
5            Sul 2023-04-29       5535.545898        85.096298
9            Sul 2023-04-28       6023.563965        92.598503
12           Sul 2023-04-27       6547.628906       100.654800
17           Sul 2023-04-26       6861.458008       105.479202
...          ...        ...               ...              ...
26758   Nordeste 2005-01-05      11820.000000        85.580002
26762   Nordeste 2005-01-04      11285.000000        81.709999
26766   Nordeste 2005-01-03      10929.000000        79.129997
26768   Nordeste 2005-01-02      10267.000000        74.339996
26774   Nordeste 2005-01-01      10222.000000        74.010002

       ENA_Armazenavel[MWmed]  ENA_Armazenavel[%MLT]       EAR_max  \
1                 4844.619141              74.474899  20459.242188
5                 5180.103027              79.632202  20459.242188
9                 5882.439941              90.429001  20459.242188
12                6178.768066              94.984398  20459.242188
17                4323.437988              66.462997  20459.242188
...                       ...                    ...           ...
26758            11820.000000              85.580002  50757.000000
26762            11285.000000              81.709999  50757.000000
26766            10929.000000              79.129997  50757.000000
26768            10267.000000              74.339996  50757.000000
26774            10222.000000              74.010002  50757.000000

         EAR[MWmes]  EAR[%max]  Carga_Diaria[MWmed]  CMO_semanal[R$/MWh]  \
1      17191.603516  84.028503         12579.484125                 0.00
5      17177.837891  83.961304         12579.484125                 0.00
9      17183.640625  83.989601         12579.484125                 0.00
12     17231.765625  84.224800         12579.484125                 0.00
17     17291.255859  84.515602         12627.473500                 0.00
...             ...        ...                  ...                  ...
26758  31071.000000  61.220001          6928.711250                 0.94
26762  30697.000000  60.480000          6899.660000                 0.94
26766  30419.000000  59.930000          6720.014583                 0.94
26768  30262.000000  59.619999          5829.622917                 0.94
26774  30061.000000  59.230000          5697.888333                 0.94

       CMO_leve[R$/MWh]  CMO_media[R$/MWh]  CMO_pesada[R$/MWh]  \
1                  0.00               0.00                0.00
5                  0.00               0.00                0.00
9                  0.00               0.00                0.00
12                 0.00               0.00                0.00
17                 0.00               0.00                0.00
...                 ...                ...                 ...
26758              0.94               0.94                0.94
26762              0.94               0.94                0.94
26766              0.94               0.94                0.94
26768              0.94               0.94                0.94
26774              0.94               0.94                0.94

       Diferenca_CMO [R$/MWh]  Razao_CMO                     Concatenar
1                         0.0        0.0       Sul//2023-04-30 00:00:00
5                         0.0        0.0       Sul//2023-04-29 00:00:00
9                         0.0        0.0       Sul//2023-04-28 00:00:00
12                        0.0        0.0       Sul//2023-04-27 00:00:00
17                        0.0        0.0       Sul//2023-04-26 00:00:00
...                       ...        ...                            ...
26758                     0.0        0.0  Nordeste//2005-01-05 00:00:00
26762                     0.0        0.0  Nordeste//2005-01-04 00:00:00
26766                     0.0        0.0  Nordeste//2005-01-03 00:00:00
26768                     0.0        0.0  Nordeste//2005-01-02 00:00:00
26774                     0.0        0.0  Nordeste//2005-01-01 00:00:00

[26776 rows x 17 columns]

,Subsistema,Data,ENA_Bruta[MWmed],ENA_Bruta[%MLT],ENA_Armazenavel[MWmed],ENA_Armazenavel[%MLT],EAR_max,EAR[MWmes],EAR[%max],Carga_Diaria[MWmed],CMO_semanal[R$/MWh],CMO_leve[R$/MWh],CMO_media[R$/MWh],CMO_pesada[R$/MWh],Diferenca_CMO [R$/MWh],Razao_CMO,Concatenar
26656,Nordeste,2005-01-30,12569.0,91.010002,12569.0,91.010002,50757.0,36039.0,71.000000,6039.680833,0.00,0.00,0.00,0.00,0.0,0.0,Nordeste//2005-01-30 00:00:00
26662,Nordeste,2005-01-29,12205.0,88.370003,12205.0,88.370003,50757.0,35735.0,70.400002,6560.671250,0.00,0.00,0.00,0.00,0.0,0.0,Nordeste//2005-01-29 00:00:00
26666,Nordeste,2005-01-28,12051.0,87.250000,12051.0,87.250000,50757.0,35417.0,69.779999,7038.461667,1.29,1.29,1.29,1.29,0.0,0.0,Nordeste//2005-01-28 00:00:00
26670,Nordeste,2005-01-27,11921.0,86.309998,11921.0,86.309998,50757.0,35239.0,69.430000,7075.157083,1.29,1.29,1.29,1.29,0.0,0.0,Nordeste//2005-01-27 00:00:00
26673,Nordeste,2005-01-26,11567.0,83.750000,11567.0,83.750000,50757.0,35002.0,68.959999,6986.740417,1.29,1.29,1.29,1.29,0.0,0.0,Nordeste//2005-01-26 00:00:00
26678,Nordeste,2005-01-25,11484.0,83.150002,11484.0,83.150002,50757.0,34866.0,68.690002,6981.889583,1.29,1.29,1.29,1.29,0.0,0.0,Nordeste//2005-01-25 00:00:00
26682,Nordeste,2005-01-24,11420.0,82.690002,11420.0,82.690002,50757.0,34803.0,68.570000,6876.834583,1.29,1.29,1.29,1.29,0.0,0.0,Nordeste//2005-01-24 00:00:00
26687,Nordeste,2005-01-23,11585.0,83.879997,11585.0,83.879997,50757.0,34541.0,68.050003,6147.864583,1.29,1.29,1.29,1.29,0.0,0.0,Nordeste//2005-01-23 00:00:00
26688,Nordeste,2005-01-22,11705.0,84.750000,11705.0,84.750000,50757.0,34361.0,67.699997,6683.525000,1.29,1.29,1.29,1.29,0.0,0.0,Nordeste//2005-01-22 00:00:00
26694,Nordeste,2005-01-21,11862.0,85.889999,11862.0,85.889999,50757.0,34175.0,67.330002,6994.175417,0.69,0.69,0.69,0.69,0.0,0.0,Nordeste//2005-01-21 00:00:00
26698,Nordeste,2005-01-20,11946.0,86.489998,11946.0,86.489998,50757.0,33950.0,66.889999,6897.098333,0.69,0.69,0.69,0.69,0.0,0.0,Nordeste//2005-01-20 00:00:00
26702,Nordeste,2005-01-19,11899.0,86.150002,11899.0,86.150002,50757.0,33670.0,66.339996,6945.694167,0.69,0.69,0.69,0.69,0.0,0.0,Nordeste//2005-01-19 00:00:00
26706,Nordeste,2005-01-18,11668.0,84.480003,11668.0,84.480003,50757.0,33693.0,66.379997,6881.923750,0.69,0.69,0.69,0.69,0.0,0.0,Nordeste//2005-01-18 00:00:00
26710,Nordeste,2005-01-17,11380.0,82.400002,11380.0,82.400002,50757.0,33631.0,66.260002,6710.181250,0.69,0.69,0.69,0.69,0.0,0.0,Nordeste//2005-01-17 00:00:00
26714,Nordeste,2005-01-16,10961.0,79.360001,10961.0,79.360001,50757.0,33348.0,65.699997,5992.060417,0.69,0.69,0.69,0.69,0.0,0.0,Nordeste//2005-01-16 00:00:00
26718,Nordeste,2005-01-15,10755.0,77.870003,10755.0,77.870003,50757.0,33151.0,65.309998,6509.364167,0.69,0.69,0.69,0.69,0.0,0.0,Nordeste//2005-01-15 00:00:00
26720,Nordeste,2005-01-14,10804.0,78.230003,10804.0,78.230003,50757.0,32926.0,64.870003,6831.763333,7.64,7.64,7.64,7.64,0.0,0.0,Nordeste//2005-01-14 00:00:00
26726,Nordeste,2005-01-13,11235.0,81.349998,11235.0,81.349998,50757.0,32683.0,64.389999,6937.700417,7.64,7.64,7.64,7.64,0.0,0.0,Nordeste//2005-01-13 00:00:00
26730,Nordeste,2005-01-12,11818.0,85.570000,11818.0,85.570000,50757.0,32612.0,64.250000,7039.640833,7.64,7.64,7.64,7.64,0.0,0.0,Nordeste//2005-01-12 00:00:00
26735,Nordeste,2005-01-11,12615.0,91.339996,12615.0,91.339996,50757.0,32551.0,64.129997,7036.485833,7.64,7.64,7.64,7.64,0.0,0.0,Nordeste//2005-01-11 00:00:00
26737,Nordeste,2005-01-10,13311.0,96.379997,13304.0,96.330002,50757.0,32375.0,63.779999,6974.535833,7.64,7.64,7.64,7.64,0.0,0.0,Nordeste//2005-01-10 00:00:00
26742,Nordeste,2005-01-09,13892.0,100.580002,13892.0,100.580002,50757.0,32208.0,63.459999,6194.166667,7.64,7.64,7.64,7.64,0.0,0.0,Nordeste//2005-01-09 00:00:00
26746,Nordeste,2005-01-08,13809.0,99.980003,13809.0,99.980003,50757.0,31934.0,62.919998,6581.571667,7.64,7.64,7.64,7.64,0.0,0.0,Nordeste//2005-01-08 00:00:00
26751,Nordeste,2005-01-07,13176.0,95.400002,13176.0,95.400002,50757.0,31652.0,62.360001,6960.068333,0.94,0.94,0.94,0.94,0.0,0.0,Nordeste//2005-01-07 00:00:00
26753,Nordeste,2005-01-06,12534.0,90.750000,12534.0,90.750000,50757.0,31300.0,61.669998,6916.727500,0.94,0.94,0.94,0.94,0.0,0.0,Nordeste//2005-01-06 00:00:00
26758,Nordeste,2005-01-05,11820.0,85.580002,11820.0,85.580002,50757.0,31071.0,61.220001,6928.711250,0.94,0.94,0.94,0.94,0.0,0.0,Nordeste//2005-01-05 00:00:00
26762,Nordeste,2005-01-04,11285.0,81.709999,11285.0,81.709999,50757.0,30697.0,60.480000,6899.660000,0.94,0.94,0.94,0.94,0.0,0.0,Nordeste//2005-01-04 00:00:00
26766,Nordeste,2005-01-03,10929.0,79.129997,10929.0,79.129997,50757.0,30419.0,59.930000,6720.014583,0.94,0.94,0.94,0.94,0.0,0.0,Nordeste//2005-01-03 00:00:00
26768,Nordeste,2005-01-02,10267.0,74.339996,10267.0,74.339996,50757.0,30262.0,59.619999,5829.622917,0.94,0.94,0.94,0.94,0.0,0.0,Nordeste//2005-01-02 00:00:00
26774,Nordeste,2005-01-01,10222.0,74.010002,10222.0,74.010002,50757.0,30061.0,59.230000,5697.888333,0.94,0.94,0.94,0.94,0.0,0.0,Nordeste//2005-01-01 00:00:00

In [57]:
# Mostrando as informações do dataset
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26776 entries, 1 to 26774
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Subsistema              26776 non-null  object
 1   Data                    26776 non-null  datetime64[ns]
 2   ENA_Bruta[MWmed]        26776 non-null  float64
 3   ENA_Bruta[%MLT]         26776 non-null  float64
 4   ENA_Armazenavel[MWmed]  26776 non-null  float64
 5   ENA_Armazenavel[%MLT]   26776 non-null  float64
 6   EAR_max                 26776 non-null  float64
 7   EAR[MWmes]              26776 non-null  float64
 8   EAR[%max]               26776 non-null  float64
 9   Carga_Diaria[MWmed]     26776 non-null  float64
 10  CMO_semanal[R$/MWh]     26776 non-null  float64
 11  CMO_leve[R$/MWh]        26776 non-null  float64
 12  CMO_media[R$/MWh]       26776 non-null  float64
 13  CMO_pesada[R$/MWh]      26776 non-null  float64
 14  Diferenca_CMO [R$/MWh]  26776 non-null  float64
 15  Razao_CMO               26776 non-null  float64
 16  Concatenar              26776 non-null  object
dtypes: datetime64[ns](1), float64(14), object(2)
memory usage: 3.7+ MB

In [58]:
# verificando nulls no dataset (apenas para confirmação)
dados.isnull().sum()

Subsistema                0
Data                      0
ENA_Bruta[MWmed]          0
ENA_Bruta[%MLT]           0
ENA_Armazenavel[MWmed]    0
ENA_Armazenavel[%MLT]     0
EAR_max                   0
EAR[MWmes]                0
EAR[%max]                 0
Carga_Diaria[MWmed]       0
CMO_semanal[R$/MWh]       0
CMO_leve[R$/MWh]          0
CMO_media[R$/MWh]         0
CMO_pesada[R$/MWh]        0
Diferenca_CMO [R$/MWh]    0
Razao_CMO                 0
Concatenar                0
dtype: int64



> Conforme as etapas anteriores, todas as colunas estão totalmente preenchidas com dados não-nulos, graças aos tratamentos realizados no dataset.

In [295]:
# Arredondando os dados das colunas float64 para 2 casas decimais
dados=dados.round(2)
print(dados)

      Subsistema       Data  ENA_Bruta[MWmed]  ENA_Bruta[%MLT]  \
1            Sul 2023-04-30           5107.93            78.52
5            Sul 2023-04-29           5535.55            85.10
9            Sul 2023-04-28           6023.56            92.60
12           Sul 2023-04-27           6547.63           100.65
17           Sul 2023-04-26           6861.46           105.48
...          ...        ...               ...              ...
26758   Nordeste 2005-01-05          11820.00            85.58
26762   Nordeste 2005-01-04          11285.00            81.71
26766   Nordeste 2005-01-03          10929.00            79.13
26768   Nordeste 2005-01-02          10267.00            74.34
26774   Nordeste 2005-01-01          10222.00            74.01

       ENA_Armazenavel[MWmed]  ENA_Armazenavel[%MLT]   EAR_max  EAR[MWmes]  \
1                     4844.62                  74.47  20459.24    17191.60
5                     5180.10                  79.63  20459.24    17177.84
9                     5882.44                  90.43  20459.24    17183.64
12                    6178.77                  94.98  20459.24    17231.77
17                    4323.44                  66.46  20459.24    17291.26
...                       ...                    ...       ...         ...
26758                11820.00                  85.58  50757.00    31071.00
26762                11285.00                  81.71  50757.00    30697.00
26766                10929.00                  79.13  50757.00    30419.00
26768                10267.00                  74.34  50757.00    30262.00
26774                10222.00                  74.01  50757.00    30061.00

       EAR[%max]  Carga_Diaria[MWmed]  CMO_semanal[R$/MWh]  CMO_leve[R$/MWh]  \
1          84.03             12579.48                 0.00              0.00
5          83.96             12579.48                 0.00              0.00
9          83.99             12579.48                 0.00              0.00
12         84.22             12579.48                 0.00              0.00
17         84.52             12627.47                 0.00              0.00
...          ...                  ...                  ...               ...
26758      61.22              6928.71                 0.94              0.94
26762      60.48              6899.66                 0.94              0.94
26766      59.93              6720.01                 0.94              0.94
26768      59.62              5829.62                 0.94              0.94
26774      59.23              5697.89                 0.94              0.94

       CMO_media[R$/MWh]  CMO_pesada[R$/MWh]  Diferenca_CMO [R$/MWh]  \
1                   0.00                0.00                     0.0
5                   0.00                0.00                     0.0
9                   0.00                0.00                     0.0
12                  0.00                0.00                     0.0
17                  0.00                0.00                     0.0
...                  ...                 ...                     ...
26758               0.94                0.94                     0.0
26762               0.94                0.94                     0.0
26766               0.94                0.94                     0.0
26768               0.94                0.94                     0.0
26774               0.94                0.94                     0.0

       Razao_CMO                     Concatenar
1            0.0       Sul//2023-04-30 00:00:00
5            0.0       Sul//2023-04-29 00:00:00
9            0.0       Sul//2023-04-28 00:00:00
12           0.0       Sul//2023-04-27 00:00:00
17           0.0       Sul//2023-04-26 00:00:00
...          ...                            ...
26758        0.0  Nordeste//2005-01-05 00:00:00
26762        0.0  Nordeste//2005-01-04 00:00:00
26766        0.0  Nordeste//2005-01-03 00:00:00
26768        0.0  Nordeste//2005-01-02 00:00:00
26774        0.0  Nordeste//2005-01-01 00:00:00

[26776 rows x 17 columns]

In [296]:
# Fazendo um resumo estatístico do dataset
dados.describe()

,ENA_Bruta[MWmed],ENA_Bruta[%MLT],ENA_Armazenavel[MWmed],ENA_Armazenavel[%MLT],EAR_max,EAR[MWmes],EAR[%max],Carga_Diaria[MWmed],CMO_semanal[R$/MWh],CMO_leve[R$/MWh],CMO_media[R$/MWh],CMO_pesada[R$/MWh],Diferenca_CMO [R$/MWh],Razao_CMO
count,26776.000000,26776.000000,26776.000000,26776.000000,26776.000000,26776.000000,26776.000000,26776.000000,26776.000000,26776.000000,26776.000000,26776.000000,26776.0,26776.000000
mean,14321.624094,89.229429,12564.722401,78.975336,70655.986899,37797.242018,58.418612,14582.193565,201.405500,194.153515,205.680140,207.483749,0.0,0.081508
std,16206.665282,52.635965,13911.591340,36.920678,74856.329888,43125.756460,23.990521,11987.485940,307.426929,301.274629,311.856335,312.962462,0.0,0.189064
min,618.000000,8.170000,-4636.000000,-47.220000,12311.000000,2246.000000,4.340000,2763.850000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,3208.000000,58.600000,3123.000000,54.810000,15365.100000,9994.835000,39.290000,6327.590000,27.570000,24.370000,28.570000,29.210000,0.0,0.010000
50%,8016.000000,80.590000,7116.000000,74.190000,35608.120000,16651.500000,58.405000,9545.140000,102.680000,98.410000,105.040000,106.120000,0.0,0.030000
75%,18866.522500,106.100000,16472.000000,96.372500,83931.060000,46502.660000,79.200000,17547.777500,229.610000,221.030000,238.440000,241.920000,0.0,0.050000
max,110765.000000,1042.380000,86357.000000,409.620000,204615.330000,179345.000000,100.510000,47636.050000,3044.450000,2995.740000,3069.180000,3091.730000,0.0,1.000000

Pela definição constante no [site](https://dados.ons.org.br/dataset/ena-diario-por-subsistema) do ONS: "A Energia Natural Afluente (ENA) Bruta representa a energia produzível pela usina e é calculada pelo produto das vazões naturais aos reservatórios com as produtividades a 65% dos volumes úteis. A ENA Armazenável considera as vazões naturais descontadas das vazões vertidas nos reservatórios." Deste modo, a existência de dados negativos de ENA Armazenável é, pelo conceito, fisicamente possível (o que não seria verdadeiro se fosse o caso da ENA Bruta) em casos de necessidade de vertimento superior à vazão natural da usina. Por este motivo, os dados negativos serão considerados reais e não serão aplicadas transformações algébricas a eles.



> Antes de prosseguir com as análises estatísticas, será inserida uma coluna "dummy", referente à pandemia de Covid-19, que impactou a carga e, consequentemente, o Custo Marginal da Operação. Será atribuído o valor "Pré-Pandemia" para o horizonte anterior a 15/03/20, "Pandemia" para o período de 15/03/20 a 22/04/22 e "Pós-Pandemia" para as datas posteriores a tal. A data de 22/04/22 se baseia no "fim do Estado de Emergência em Saúde Pública de Importância Nacional", decretado pelo Ministério da Saúde.
 
 ![image.png]()

In [298]:
# Aplicando a correlação de Pearson ao DataFrame
dados.corr(method='pearson')

<ipython-input-298-abf49634825a>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.corr(method='pearson')

,ENA_Bruta[MWmed],ENA_Bruta[%MLT],ENA_Armazenavel[MWmed],ENA_Armazenavel[%MLT],EAR_max,EAR[MWmes],EAR[%max],Carga_Diaria[MWmed],CMO_semanal[R$/MWh],CMO_leve[R$/MWh],CMO_media[R$/MWh],CMO_pesada[R$/MWh],Diferenca_CMO [R$/MWh],Razao_CMO
ENA_Bruta[MWmed],1.000000,0.411300,0.970589,0.354973,0.702440,0.685517,0.073753,0.711775,-0.118070,-0.117287,-0.118335,-0.118133,NaN,0.092956
ENA_Bruta[%MLT],0.411300,1.000000,0.303605,0.831169,0.028360,0.129289,0.394564,0.045491,-0.191265,-0.192699,-0.190666,-0.189177,NaN,0.144894
ENA_Armazenavel[MWmed],0.970589,0.303605,1.000000,0.358014,0.767650,0.721759,0.001563,0.775577,-0.088455,-0.086143,-0.089565,-0.089950,NaN,0.046443
ENA_Armazenavel[%MLT],0.354973,0.831169,0.358014,1.000000,0.111835,0.203351,0.303120,0.115455,-0.176800,-0.173790,-0.178648,-0.178560,NaN,0.025768
EAR_max,0.702440,0.028360,0.767650,0.111835,1.000000,0.866177,-0.193729,0.964966,0.041338,0.043534,0.040267,0.038751,NaN,-0.027485
EAR[MWmes],0.685517,0.129289,0.721759,0.203351,0.866177,1.000000,0.157704,0.805575,-0.142099,-0.138384,-0.143880,-0.144653,NaN,-0.012409
EAR[%max],0.073753,0.394564,0.001563,0.303120,-0.193729,0.157704,1.000000,-0.213731,-0.361161,-0.358524,-0.362692,-0.359819,NaN,0.070033
Carga_Diaria[MWmed],0.711775,0.045491,0.775577,0.115455,0.964966,0.805575,-0.213731,1.000000,0.082495,0.084448,0.081634,0.079940,NaN,-0.009711
CMO_semanal[R$/MWh],-0.118070,-0.191265,-0.088455,-0.176800,0.041338,-0.142099,-0.361161,0.082495,1.000000,0.998043,0.999295,0.998300,NaN,-0.089923
CMO_leve[R$/MWh],-0.117287,-0.192699,-0.086143,-0.173790,0.043534,-0.138384,-0.358524,0.084448,0.998043,1.000000,0.995083,0.993753,NaN,-0.123623
CMO_media[R$/MWh],-0.118335,-0.190666,-0.089565,-0.178648,0.040267,-0.143880,-0.362692,0.081634,0.999295,0.995083,1.000000,0.998811,NaN,-0.070949
CMO_pesada[R$/MWh],-0.118133,-0.189177,-0.089950,-0.178560,0.038751,-0.144653,-0.359819,0.079940,0.998300,0.993753,0.998811,1.000000,NaN,-0.061545
Diferenca_CMO [R$/MWh],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Razao_CMO,0.092956,0.144894,0.046443,0.025768,-0.027485,-0.012409,0.070033,-0.009711,-0.089923,-0.123623,-0.070949,-0.061545,NaN,1.000000

# Nova seção